@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

html,
body {
  --branco: #ffffff;
  --preto: #2b2b2b;
  --verde-claro: #eaf8f2;
  --verde-destaque: #22b07d;
  --verde-escuro: #1b693d;

  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  background: var(--verde-destaque);
  height: 100vh;
  width: 100%;
}

.task-app {
  border-radius: 15px;
  background: var(--branco);
  display: flex;
  flex-direction: column;
  margin: 7.5rem auto;
  max-width: 993px;
  padding: 2.5rem;
  width: 100%;
}

/* App Title  */
.task-app .titulo {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
}

.titulo .remaining-tasks {
  color: var(--verde-destaque);
}

/* Task input field */
.task-app .task-field {
  display: flex;
  height: 50px;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 2.938rem;
  max-width: 710px;
  width: 100%;
}

.task-field .task-input {
  background: var(--preto);
  border-style: none;
  border-radius: 10px 0px 0px 10px;
  color: var(--branco);
  font-size: 20px;
  padding-left: 1.5rem;
  width: 35rem;
}

.task-field .task-input::placeholder {
  color: var(--branco);
}

.task-field .datepicker-toggle {
  align-items: center;
  background: var(--preto);
  display: flex;
  justify-content: center;
  position: relative;
  width: 70px;
}

.task-field .datepicker-toggle-button {
  background-image: url('../img/datepicker.svg');
  height: 28.33px;
  width: 25px;
}

.task-field .task-date-input {
  box-sizing: border-box;
  cursor: pointer;
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
}

.task-date-input::-webkit-calendar-picker-indicator {
  cursor: pointer;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.task-field .task-create-button {
  background: var(--verde-destaque);
  border-style: none;
  border-radius: 0px 10px 10px 0px;
  color: var(--branco);
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.063rem;
  text-transform: uppercase;
  width: 145px;
}

.task-field .task-create-button:hover {
  background-color: var(--verde-escuro);
  transition: 0.5s;
}

/* Task list */
.task-list ul {
  display: flex;
}

.task-list li {
  align-items: center;
  color: var(--preto);
  display: flex;
  font-size: 20px;
  height: 50px;
  margin: 0 auto;
  max-width: 710px;
  line-height: 30px;
  list-style: none;
  width: 100%;
}

.task-list .task-data {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
}

.task-list .task-item {
  background: var(--verde-claro);
  border-radius: 10px;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 0 0.5rem;
}

.task-item .task-content {
  justify-content: space-around;
  padding: 0 17px;
}

.task-content .task-date {
  font-size: 15px;
}

.task-item .task-check {
  background-color: var(--verde-destaque);
  border: none;
  border-radius: 5px;
  height: 35px;
  width: 35px;
}

.task-check .task-check-button {
  background: url('../img/check.svg') center no-repeat;
  border: none;
  cursor: pointer;
  fill: var(--branco);
  height: 35px;
  width: 35px;
}

.task-item .task-delete-button {
  background-color: var(--verde-destaque);
  border: none;
  border-radius: 5px;
  color: var(--branco);
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  height: 35px;
  width: 90px;
}

.task-item .task-delete-button:hover {
  background-color: var(--verde-escuro);
}

/* Footer */

.rodape-container {
  display: flex;
  justify-content: center;
  margin-top: 2.938rem;
}

.rodape-container .rodape-conteudo {
  color: var(--preto);
  font-size: 18px;
  font-weight: 400;
}

.rodape-conteudo .rodape-link {
  color: var(--verde-destaque);
  text-decoration: none;
}

.rodape-link:hover {
  color: var(--verde-escuro);
  font-weight: 600;
}
